{% set mainColor = "\#000000" %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block pageTitle %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="{{ mainColor }}">
	<meta name="application-name" content="Pollistics">
	<meta name="msapplication-TileColor" content="{{ mainColor }}">
	<meta name="description" content="{% block description %}Pollistics makes polls easy.{% endblock %}">
	<meta name="author" content="Pollistics">
	<meta name="robots" content="index, follow">
	{# TODO: favicon, ogp, twiter, css #}
	<link rel="stylesheet" href="https://gin-fizz.github.io/styleguide/src/main.css">
</head>
<body>
	<header>
		<a href="/"><img src="/img/logo.svg" alt="home"></a>
		<div class="user">
			{# <a href="/me"><img src="/src/img/user.svg" alt="me"></a> #}
			{% if user %}
			<a href="/account" class="cta">{{ user.getUsername() }}</a>
			<a href="/logout" class="cta">logout</a>
			{% else %}
			<a href="/login" class="cta">login</a>
			<a href="/register" class="cta">register</a>
			{% endif %}
		</div>
	</header>
	{% if message %}
		<div class="message">{{ message }}</div>
	{% endif %}
	<main>{% block content %}{% endblock %}</main>
	{% block scripts %}{% endblock %}
	<script src="{{ asset('js/bundle.js') }}"></script>
</body>
</html>
