{% extends "../layouts/main.twig" %}

{% block pageTitle %}{{ poll.title }}{% endblock %}
{% block description %}{{ poll.title }} {{ poll.options }}{% endblock %}

{% block content %}
	<h1>{{ poll.title }}</h1>

	<form method="post" action="/polls/vote/{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}" class="poll">
		{%- for option, nVotes in poll.options %}
		<div class="poll--vote">
			<label for="{{ option }}">{{ option }}: {{ nVotes }}</label>
			<input type="radio" name="option" id="{{ option }}" value="{{ option }}">
		</div>
		<div>
			<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
		</div>
		{%- endfor %}
		<button type="submit">Vote</button>
	</form>
	<div class="social" id="social">
		<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpollistics.com%2F{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}&quote={{poll.title|url_encode}}" target="_blank" rel="noopener" class="cta">share on facebook</a>
		<a href="https://twitter.com/intent/tweet?text={{ poll.title ~ "\n\n" ~ "via Pollistics — https://pollistics.com/" | url_encode }}{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}" target="_blank" rel="noopener" class="cta">share on twitter</a>
	</div>
{% endblock %}

{% block scripts %}
	<script src="/js/dist/vote.js"></script>
{% endblock %}
