{% extends "../layouts/main.twig" %}

{% block pageTitle %}{{ poll.title }}{% endblock %}
{% block description %}{{ poll.title }} {{ poll.options }}{% endblock %}

{% block content %}
	<h1>{{ poll.title }} (id: {{ poll.id }})</h1>
	{% if poll.slug %}
		<p>{{ poll.slug }}</p>
	{% endif %}

	<form method="post" action="/polls/vote/{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}" class="poll">
		{%- for option, nVotes in poll.options %}
		<div class="poll--vote">
			<label for="{{ option }}">{{ option }}: {{ nVotes }}</label>
			<input type="radio" name="option" id="{{ option }}" value="{{ option }}">
		</div>
		<div>
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
	</div>
		{%- endfor %}
		<button type="submit">Vote</button>
	</form>
	<form method="post" action="/polls/delete/{{ poll.id }}">
		<input type="submit" value="delete">
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
	</form>
	<div id="results"></div>
{% endblock %}

{% block scripts %}
	<script src="{{ asset('node_modules/d3/d3.min.js') }}"></script>
	<script src="{{ asset('node_modules/d3pie/d3pie/d3pie.min.js') }}"></script>
	<script>
		var options = []; // todo: do this with jsonify stuff
		{% for option, nVotes in poll.options -%}
		options.push({label: "{{option}}", value: {{ nVotes }}});
		{% endfor %}
		new d3pie('results', {
			data: {
				content: options
			}
		});
	</script>
{% endblock %}
