{% extends "../layouts/main.twig" %}

{% block pageTitle %}{{ poll.title }}{% endblock %}
{% block description %}{{ poll.title }} {{ poll.options }}{% endblock %}

{% block content %}
	<h1>{{ poll.title }}</h1>
	<div id="results"></div>

	<div class="social">
		<div class="social--item">
			<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpollistics.com%2F{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}&quote={{poll.title|url_encode}}" target="_blank" rel="noopener" class="cta">share on facebook</a>
			<a href="https://twitter.com/intent/tweet?text={{ poll.title ~ "\n\n" ~ "via Pollistics — https://pollistics.com/" | url_encode }}{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}" target="_blank" rel="noopener" class="cta">share on twitter</a>
		</div>
		<div class="social--item" id="social"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		var data = []; // todo: do this with jsonify stuff
		{% for option, nVotes in poll.options -%}
		data.push({label: "{{option}}", value: {{ nVotes }}});
		{% endfor %}
		window.data = data;
		window.id = '{{ poll.id }}';
	</script>
	<script src="/js/dist/results.js"></script>
{% endblock %}
